@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Referanslar Alanı </h4>
						<p class="card-subtitle mb-4">
							Müşterilerimizin bizim hakkımızda söylemiş olduğu ifadeleri yorum olarak ekleyip düzenleyebildiğimiz sayfamızdır. İşlemleri aşağıdaki panelden yapabilirsiniz.
						</p>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Görsel</th>
										<th>Ad-Soyad</th>
										<th>Başlık</th>
										<th>Açıklama</th>
										<th>Sil</th>
										<th>Güncelle</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<th>@item.TestimonialID</th>
											<th><img src="@item.ImageUrl" width="50" height="50" style="border-radius:50%"/></th>
											<th>@item.Name</th>
											<td>@item.Title</td>
											<td>@item.Comment</td>
											<td>
												<a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Sil</a>

											</td>
											<td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Güncelle</a></td>
										</tr>
									}
								</tbody>
							</table>
							<a href="/Admin/AdminTestimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Referans Girişi</a>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

